{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>Months</h2>
<ul>
  <li><a href="/?filter=january">January</a></li>
  <li><a href="/?filter=february">February</a></li>
  <li><a href="/?filter=march">March</a></li>
  <li><a href="/?filter=april">April</a></li>
  <li><a href="/?filter=may">May</a></li>
  <li><a href="/?filter=june">June</a></li>
  <li><a href="/?filter=july">July</a></li>
  <li><a href="/?filter=august">August</a></li>
  <li><a href="/?filter=september">September</a></li>
  <li><a href="/?filter=october">October</a></li>
  <li><a href="/?filter=november">November</a></li>
  <li><a href="/?filter=december">December</a></li>
</ul>

<h2>Students</h2>
<ul>
  {% for person in persons %}
    <li><a href="/student/{{ person.id }}">{{ person.name}}, {{ person.birthdate}}</a></li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}